@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter{
 font-family: "Inter", sans-serif;
}
.noto{
    font-family: "Noto Serif", serif;
}
.bloom-photo{
background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('./assets/deal-bloom.png');
background-repeat: no-repeat;
background-size: cover;

}
.ana-photo{
 background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('./assets/deal-ana.png') ;
 background-repeat: no-repeat;
 background-size: cover;
}
.zabo-photo{
 background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('./assets/deal-zabo.png') ;
 background-repeat: no-repeat;
 background-size: cover;
}
.subscribe{
    background-image: url('./assets/news-letter-bg.png');
    background-image:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}